<!DOCTYPE html>
<html lang="en">

<head>
  <title>/// m i k e / m e h l ///</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body>
  <header>
    <nav>
      <button hx-get="/" hx-swap="innerHTML" hx-target="#content">Home</button>
      <button hx-get="/experience" hx-swap="innerHTML" hx-target="#content">Experience</button>
      <button hx-get="/education" hx-swap="innerHTML" hx-target="#content">Education</button>
      <button hx-get="/skills" hx-swap="innerHTML" hx-target="#content">Skills</button>
      <button hx-get="/interests" hx-swap="innerHTML" hx-target="#content">Interests</button>
      <button hx-get="/music" hx-swap="innerHTML" hx-target="#content">Music</button>
    </nav>
  </header>
  <main>
    <div id="content"></div>
  </main>
  <footer>
    <a href="github.com/mikemehl">github</a> |
    <a href="git.sr.ht/~micklemeal">sourcehut</a>
  </footer>
</body>

</html>
