{{  define "content"}}
<div class="container" id="content">
  <h1>Education</h1>
  <p> My academic background.</p>
  {{  range .Education  }}
  <section>
    <h2>{{ .School.Name }}</h2>
    <h3>Degree(s): {{  range .School.Degrees  }} {{.}}, {{  end  }}</h3>
    <h4>Dates Attended: {{ .School.StartDate }} - {{ .School.EndDate }}</h4>
    <h4>GPA: {{ .School.Gpa }}</h4>
    <h4>Highlights:</h4>
    <ul>
      {{  range .School.Highlights  }}
      <li>{{ . }}</li>
      {{  end  }}
    </ul>
  </section>
  {{end}}
  <a href="/intro">Home</a>
</div>
{{end}}
