{{define "content"}}
<div class="container" id="content">
  <h1>Experience</h1>
  <p>The various places I've worked or currently work at.</p>
  {{range .Experience}}
  <section>
    <h2>{{ .Company }}</h2>
    <h3>{{.Position}}</h3>
    <h4>{{.StartDate}} - {{.EndDate}}</h4>
    <p>Address: {{.Address}}</p>
    <p>{{.Description}}</p>
    <h3>Highlights:</h3>
    <ul>
      {{range .Highlights}
      <li>{{.}}</li>
      {{end}}
    </ul>
  </section>
  {{end}}
  <a href="/intro">Home</a>
</div>
{{end}}
