{%extends "index.html"%}
{% block content %}
<div class="container" id="content">
  <h1>Experience</h1>
  <p>The various places I've worked or currently work at.</p>
  {% for place in resume.experience %}
  <section>
    <h2>{{ place.company }}</h2>
    <h3>{{place.position}}</h3>
    <h4>{{place.start_date}} - {{place.end_date}}</h4>
    <p>Address: {{place.address}}</p>
    <p>{{place.description}}</p>
    <h3>Highlights:</h3>
    <ul>
      {% for highlight in place.highlights %}
      <li>{{highlight}}</li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
  <a href="/intro">Home</a>
</div>
{% endblock %}
