{%extends "index.html"%}
{% block content %}
<div class="container" id="content">
  <h1>Skills</h1>
  <p>Here are some of the skills I've learned and used in my work.</p>
  <details>
    <summary>Programming Languages</summary>
    <ul>
      {% for skill in resume.skills.languages.expert %}
      <li>{{ skill }}</li>
      {% endfor %}
      {% for skill in resume.skills.languages.proficient %}
      <li>{{ skill }}</li>
      {% endfor %}
      {% for skill in resume.skills.languages.basic %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </details>
  <details>
    <summary>Platforms</summary>
    <ul>
      {% for skill in resume.skills.platforms %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </details>
  <details>
    <summary>Tools</summary>
    <ul>
      {% for skill in resume.skills.tools %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </details>
</div>
{% endblock %}
